
/* Filter Container */
.stiDesignerFilterContainer {
	background: @MobileDesignerContainersBackgroundColor;
	overflow: auto;
}

.stiDesignerFilterPanelHeader {
	border-bottom: 1px solid @MobileDesignerContainersBorderColor;
}

/* Filter Panel */
.stiDesignerFilterPanel {
	border-top: 1px solid transparent;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	border-bottom: 1px solid @MobileDesignerContainersBorderColor;
	background: @MobileDesignerContainersBackgroundColor;
	color: @MobileDesignerFontColor;
	font-family: Arial;
	font-size: 12px;
	margin: 4px;
}

.stiDesignerFilterPanelSelected {
	border-radius: 3px;
	border: 1px solid @MobileDesignerControlsSelectedBorderColor;
	background: @MobileDesignerContainersBackgroundColor;
	color: @MobileDesignerFontColor;
	font-family: Arial;
	font-size: 12px;
	margin: 4px;
}

/* Chart Form*/
.stiDesignerChartFilterPanel {
	border-top: 1px solid transparent;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	border-bottom: 1px solid @MobileDesignerContainersBorderColor;
	background: @MobileDesignerContainersBackgroundColor;
	color: @MobileDesignerFontColor;
	font-family: Arial;
	font-size: 12px;
	margin: 4px;
	padding: 5px;
}

.stiDesignerChartFilterPanelSelected {
	border-radius: 3px;
	border: 1px solid @MobileDesignerControlsSelectedBorderColor;
	background: @MobileDesignerContainersBackgroundColor;
	color: @MobileDesignerFontColor;
	font-family: Arial;
	font-size: 12px;
	margin: 4px;
	padding: 5px;
}