
.stiJsViewerParentMenu {
	z-index: 35;
	position: absolute;
}

.stiJsViewerMenu {
	position: absolute;
	padding: 1px;
	font-size: 12px;
	border:1px solid @JsViewerMenuBorderColor;	
	background: @JsViewerMenuBackgroundColor;
	-moz-box-shadow: 0px 0px 7px rgba(0,0,0,0.6); 
    -webkit-box-shadow: 0px 0px 7px rgba(0,0,0,0.6);
    box-shadow: 0 0 7px rgba(0,0,0,0.3);
    cursor: default;
	color: #202020;
}

.stiJsViewerVerticalMenuSeparator {
	height: 1px;
	background: @JsViewerMenuSeparatorUpColor;
    border-bottom: 1px solid @JsViewerMenuSeparatorDownColor;
    margin: 1px 2px 0 30px;
}

/* Mouse */
.stiJsViewerMenuStandartItem {
	white-space: nowrap;
    cursor: default;
    font-size: 12px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    border: 1px solid @JsViewerMenuItemBorderColor;
}

.stiJsViewerMenuStandartItemOver {
    border: 1px solid @JsViewerMenuItemOverBorderColor;
    background: @JsViewerMenuItemOverBackgroundDownColor;
    color: #ffffff;
}

.stiJsViewerMenuStandartItemSelected {
    border: 1px solid @JsViewerMenuItemSelectedBorderColor;
    background: @JsViewerMenuItemSelectedBackgroundDownColor;
    color: #ffffff;
}

.stiJsViewerMenuStandartItemDisabled {
    border: 1px solid @JsViewerMenuItemDisabledBorderColor;
    color: @JsViewerControlsFontDisabledColor;
}