
.stiJsViewerNavigatePanel {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    z-index: 1;
    background: @JsViewerNavigatePanelBackgroundColor;
    background: -moz-linear-gradient(top, @JsViewerMainPanelsBackgroundUpColor, @JsViewerMainPanelsBackgroundDownColor); /* Firefox 3.6+ */
    background: -webkit-gradient(linear, top, bottom, color-stop(0%,@JsViewerMainPanelsBackgroundUpColor), color-stop(100%,@JsViewerMainPanelsBackgroundDownColor)); /* Chrome 10+, Safari 5.1+ */
    background: -webkit-linear-gradient(top, @JsViewerMainPanelsBackgroundUpColor, @JsViewerMainPanelsBackgroundDownColor);
    background: -o-linear-gradient(top, @JsViewerMainPanelsBackgroundUpColor, @JsViewerMainPanelsBackgroundDownColor); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, @JsViewerMainPanelsBackgroundUpColor, @JsViewerMainPanelsBackgroundDownColor); /* IE10 */
    background: linear-gradient(top, @JsViewerMainPanelsBackgroundUpColor, @JsViewerMainPanelsBackgroundDownColor); /* CSS3 */
    font-family: Arial;
    font-size: 12px;
    color: #444444;
}

.stiJsViewerNavigatePanelSeparator {
	border-right: 1px dashed @JsViewerNavigatePanelSeparatorColor;
	width: 1px;
	margin: 0 2px 0 1px; 
}

.stiJsViewerNavigatePanelDisabledPanel {
	z-index: 101;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	position: absolute;
	background: white;
	filter: alpha(Opacity=10);
    opacity: 0;
    -moz-opacity: 0;
    -khtml-opacity: 0;
}

.stiJsViewerNavigateButton {
    cursor: default;
    font-size: 12px;
    border: 1px solid transparent;
    border-radius: 3px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.stiJsViewerNavigateButtonOver {
    border: 1px solid @JsViewerButtonOverBorderColor;
    background: @JsViewerNavigateButtonOverBackgroundColor;
    background: -moz-linear-gradient(top, @JsViewerButtonOverBackgroundUpColor 20%, @JsViewerButtonOverBackgroundDownColor); /* Firefox 3.6+ */
    background: -webkit-gradient(linear, top, bottom, color-stop(20%,@JsViewerButtonOverBackgroundUpColor), color-stop(100%,@JsViewerButtonOverBackgroundDownColor)); /* Chrome 10+, Safari 5.1+ */
    background: -webkit-linear-gradient(top, @JsViewerButtonOverBackgroundUpColor 20%, @JsViewerButtonOverBackgroundDownColor);
    background: -o-linear-gradient(top, @JsViewerButtonOverBackgroundUpColor 20%, @JsViewerButtonOverBackgroundDownColor); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, @JsViewerButtonOverBackgroundUpColor 20%, @JsViewerButtonOverBackgroundDownColor); /* IE10 */
    background: linear-gradient(top, @JsViewerButtonOverBackgroundUpColor 20%, @JsViewerButtonOverBackgroundDownColor); /* CSS3 */
}

.stiJsViewerNavigateButtonSelected {
    border: 1px solid @JsViewerButtonSelectedBorderColor;
    background: @JsViewerNavigateButtonSelectedBackgroundColor;
    background: -moz-linear-gradient(top, @JsViewerButtonSelectedBackgroundUpColor, @JsViewerButtonSelectedBackgroundDownColor); /* Firefox 3.6+ */
    background: -webkit-gradient(linear, top, bottom, color-stop(0%,@JsViewerButtonSelectedBackgroundUpColor), color-stop(100%,@JsViewerButtonSelectedBackgroundDownColor)); /* Chrome 10+, Safari 5.1+ */
    background: -webkit-linear-gradient(top, @JsViewerButtonSelectedBackgroundUpColor, @JsViewerButtonSelectedBackgroundDownColor);
    background: -o-linear-gradient(top, @JsViewerButtonSelectedBackgroundUpColor, @JsViewerButtonSelectedBackgroundDownColor); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, @JsViewerButtonSelectedBackgroundUpColor, @JsViewerButtonSelectedBackgroundDownColor); /* IE10 */
    background: linear-gradient(top, @JsViewerButtonSelectedBackgroundUpColor, @JsViewerButtonSelectedBackgroundDownColor); /* CSS3 */
}

.stiJsViewerNavigateButtonDisabled {
    border: 1px solid @JsViewerButtonDisabledBorderColor;
    color: @JsViewerControlsFontDisabledColor;
}