
/* Mouse */
.stiJsViewerCheckBox {
    padding: 0px;
    margin: 0px;
    border: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    font-size: 12px;
    color: @JsViewerControlsFontColor;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    color: @JsViewerFormFontColor;
}

.stiJsViewerCheckBoxDisabled {
    font-size: 12px; 
    color: @JsViewerControlsFontDisabledColor;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    border: 0;
}

.stiJsViewerCheckBoxImageBlock {
    border: 1px solid @JsViewerControlsBorderColor;
    background: @JsViewerControlsBackgroundColor;
    border-radius: 3px;
}

.stiJsViewerCheckBoxImageBlockOver {
    border: 1px solid @JsViewerControlsOverBorderColor;
    background: @JsViewerControlsOverBackgroundColor;
    border-radius: 3px;
}

.stiJsViewerCheckBoxImageBlockDisabled {
    border: 1px solid @JsViewerControlsDisabledBorderColor;
    background: @JsViewerControlsDisabledBackgroundColor;
    border-radius: 3px;
}