
/* Mouse */
.stiJsViewerDropDownList {
    border: 1px solid @JsViewerControlsBorderColor;
	background: @JsViewerControlsBackgroundColor;
}

.stiJsViewerDropDownListOver {
    border: 1px solid @JsViewerControlsOverBorderColor;
	background: @JsViewerControlsBackgroundColor;
}

.stiJsViewerDropDownListDisabled {    
    border: 1px solid @JsViewerControlsDisabledBorderColor;
	background: @JsViewerControlsBackgroundColor;
}

.stiJsViewerDropDownList_TextBox {
    font-size: 12px;
    border: 0px;
    margin: 0px;
    padding: 0px 0px 0px 4px;
    -webkit-border-radius: 0px;
    outline: none;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(hsla(0,0%,100%,0)), to(hsla(0,0%,100%,0)));
    background-image: -webkit-linear-gradient(hsla(0,0%,100%,0), hsla(0,0%,100%,0));
    background: @JsViewerControlsBackgroundColor;
	color: #202020;
}

.stiJsViewerDropDownListImage {
    height: 17px;
    width: 32px;
    margin: 0 3px 0 3px;
}


/* Mouse */
.stiJsViewerDropDownListButton {
    cursor: default;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.stiJsViewerDropDownListButtonDefault {
	background: @JsViewerControlsBackgroundColor;
}

.stiJsViewerDropDownListButtonOver {
    background: @JsViewerButtonOverBackgroundColor;
}

.stiJsViewerDropDownListButtonSelected {
    background: @JsViewerButtonSelectedBackgroundColor;
}

.stiJsViewerDropDownListButtonDisabled {
    color: @JsViewerControlsFontDisabledColor;
}