
/* Mouse */
.stiJsViewerGroupHeaderButton {
    height: 23px;
    cursor: default;
    font-size: 12px;
    font-weight: 600;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.stiJsViewerGroupHeaderButtonDefault {
    background: @JsViewerGroupHeaderButtonBackgroundColor;
    border: 1px solid @JsViewerGroupHeaderButtonBackgroundColor;
    color: @JsViewerControlsFontColor;
}

.stiJsViewerGroupHeaderButtonOver {
    background: @JsViewerGroupHeaderButtonOverBackgroundColor;
    border: 1px solid @JsViewerGroupHeaderButtonOverBackgroundColor;
    color: @JsViewerControlsFontColor;
}

.stiJsViewerGroupHeaderButtonSelected {
    background: @JsViewerGroupHeaderButtonSelectedBackgroundColor;
    border: 1px solid @JsViewerGroupHeaderButtonSelectedBackgroundColor;
    color: @JsViewerControlsFontColor;
}

.stiJsViewerGroupHeaderButtonDisabled {
    background: @JsViewerGroupHeaderButtonDisabledBackgroundColor;
    border: 1px solid @JsViewerGroupHeaderButtonDisabledBackgroundColor;
    color: @JsViewerControlsFontDisabledColor;
}